#osmReplicationConfigPath="osmdata"

tagMappings=TagMappings.xml

tmpPath="/tmp/lgd"

osmDb_hostName=localhost
#osmDb_dataBaseName=lgdnodes_dump
osmDb_userName=postgres
osmDb_passWord=

rdfStore_hostName="localhost:1050"
rdfStore_userName="dba"
rdfStore_passWord=
#rdfStore_graphName="http://linkedgeodata.org"

liveRdfStore_hostName="localhost:1250"
liveRdfStore_userName="dba"
liveRdfStore_passWord=


entityFilter="LiveEntityFilter.txt.dist"
tagFilter="LiveTagFilter.txt.dist"
relevanceFilter="LiveRelevanceFilter.txt.dist"

#publishDiffRepoPath="/var/www/downloads.linkedgeodata.org/dumps/2010-11-17/changesets/minutely"
nodeSerializer=virtuoso

sleepInterval=60

osmosisPath=/opt/LinkedGeoData/osmosis/0.35.1/bin
isqlHome=/opt/virtuoso/ose/6.1.2/bin
