
a.heading:link {
	color:#0000ff;
	background-color: transparent;
	text-decoration: underline;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
}

a.heading:visited {
	color:#6060ff;
	background-color: transparent;
	text-decoration: underline;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
}

a.heading:hover {
	color:#ff8000;
	background-color: transparent;
	text-decoration: underline;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
}

a.heading:active {
	color:#0000ff;
	background-color: transparent;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
}


a.content:link {
	color:#0000ff;
	background-color: transparent;
	text-decoration: underline;
	font-family: Verdana;
	font-size: 9pt;
}

a.content:visited {
	color:#6060ff;
	background-color: transparent;
	text-decoration: underline;
	font-family: Verdana;
	font-size: 9pt;
}

a.content:hover {
	color:#ff8000;
	background-color: transparent;
	text-decoration: underline;
	font-family: Verdana;
	font-size: 9pt;
}

a.content:active {
	color:#0000ff;
	background-color: transparent;
	text-decoration: none;
	font-family: Verdana;
	font-size: 9pt;
}



table {
	border-collapse:collapse;
}


tr.odd {
    background-color: #eeeeff;	
}

tr.even {
}


span.left {
	float: left;
}

span.right {
	float: right;
}

div.box {
	background-color: #d0d0ff;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	max-width: 700px;		
}

td {
	color: #000000;
	background-color: #ffffff;
	background-color: transparent;
	font-family: Verdana;
	font-size: 9pt;
}


pre {
	background-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;	
	margin: 5px;
}

/*
a:link {
	color:#0000ff;
	background-color: transparent;
	text-decoration: underline;
	
}

a:visited {
	color:#6060ff;
	text-decoration: underline;
}

a:hover {
	color:#ff8000;
	text-decoration: underline;
}

a:active {
	color:#0000ff;
	text-decoration: none;
}
*/