<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--
	<bean id="application" class="main.Application">
		<property name="marshaller" ref="castorMarshaller" />
		<property name="unmarshaller" ref="castorMarshaller" />
	</bean>
     -->
      
	<bean id="lgdDataBase" class="org.example.myproject.shared.ConnectionConfig">
		<property name="hostName"     value="localhost" />
		<property name="dataBaseName" value="unittest_lgd" />
		<property name="userName"     value="postgres" />
		<property name="passWord"     value="postgres" />
	</bean>
	
	<!-- <bean id="tagMappingDataBase" class="org  -->
</beans>
