osmReplicationConfigPath="./"

tmpPath="/tmp/lgd"

osmDb_hostName="localhost"
osmDb_dataBaseName="lgdnodes"
osmDb_userName="postgres"
osmDb_passWord="postgres"

rdfStore_hostName="localhost"
rdfStore_userName="dba"
rdfStore_passWord="dba"
rdfStore_graphName="http://test.org"

tagMappings="TagMappings.xml"

entityFilter="LiveEntityFilter.txt.dist"
tagFilter="LiveTagFilter.txt.dist"
relevanceFilter="LiveRelevanceFilter.txt.dist"

publishDiffRepoPath="/var/www/downloads.linkedgeodata.org/changesets/minutely"
# nodeSerializer can be either georss or virtuoso
nodeSerializer=georss


sleepInterval=60

osmosisPath=/opt/osmosis/0.35.1/bin
