whitelist
-'aeroway'
-'aerialway'
-'amenity'
-'cuisine'
-'denomination'
-'historic'
-'leisure'
-'man_made'
-'military'
-'natural'
-'power'
-'railway'
-'religion'
-'sport'
-'shop'
-'tourism'
-'waterway'
-'place'